*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
  height: 100%;  
  width: 100%;
  background: #ab8f97;
  display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /*background: red;*/
}

#part2{
    height: 100%;
    width: 68%;
    background: rgb(11, 12, 113);
    background-image: url(https://images.unsplash.com/photo-1721206625310-5fe6854961d8?q=80&w=1958&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}

#overlay{
   height: 100%; 
   width: 100%;
   background-color:#897e8158 ;
}

#part3{
    height: 100%;
    width: 7%;
    /*background: rgb(10, 154, 118);*/
}

#text-div{
    /*height: 230px;*/
    position: absolute;
    width: 330px;
    /*background-color: red;*/
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
}

#text-div>h1{
font-size: 75px;
font-family: monument;
font-weight: 800;
line-height:58px;
letter-spacing: 8px;
text-transform: uppercase;
color: #fff;
}

#small-img-div{
    height: 400px;
    width: 300px;
    /*background-color: red;*/
    background-image: url(https://images.unsplash.com/photo-1518518873111-6ca469aa4560?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-image: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

#overlay-in{
    height: 100%; 
   width: 100%;
   background-color:#897e8158 ;
}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -48%;
    transform-origin: 0% 0%;
    top: -7%;
    /*width: 100%;*/
    /*background-color: red;*/

    
}
#vertical-text h1{
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  letter-spacing: 12px;
  font-family: monument;
  -webkit-text-stroke-width:2px ;
  -webkit-text-stroke-color:#fff ;
  

}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 382px;
    left: 5%;
    top: 5%;
    /*background-color: red;*/
}

#nav img {
    height: 60px;
}

#nav h5{
    font-size: 20px;
    color: #fff;
    font-family: gilroy;
}